.convert {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.convert-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.convert-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.convert-form,
.convert-output,
.convert-output-2,
.guide {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.guide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide-description {
  display: flex;
  align-items: flex-start;
  padding: 0 1rem 1rem 1rem;
  gap: 2rem;
}

.academic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.music {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.guide-description p {
  color: #555555; /* Slightly lighter text color for paragraphs */
  margin-bottom: 10px; /* Space below each paragraph */
  margin: 0;
}

/* Style for the 'shortcut' phrases */
.guide-description p:nth-child(odd) {
  font-weight: bold; /* Bold for categories */
  padding: 0.2rem 0 0.2rem 0;
}

.guide-description p:nth-child(even) {
  font-style: italic; /* Italic for examples */
  margin-left: 20px; /* Indent for examples */
}

.convert-form form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
  align-items: flex-start;
  width: 80%;
}

.convert-form form input,
textarea {
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
  border: 1px solid #d1d5da;
}

.name,
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.convert-input {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.convert-input-title,
.convert-output-title,
.guide-title,
.convert-output-title-3,
.convert-output-title-2 {
  margin: 0 0 2rem 0;
}

.postal-code,
.subject {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

#tutor1,
#tutor2,
#tutor3,
.music {
  display: flex;
  align-items: center;
}

#tutor1 input,
#tutor2 input,
#tutor3 input,
#music input,
#online input,
#separateTutor input,
#sameTutor input {
  width: 2rem;
}

#online,
#separateTutor,
#sameTutor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0 1rem 0;
}
#submit {
  cursor: pointer;
  margin: 0;
  border: 0;
  width: 8rem;
  padding: 0.7rem 0 0.7rem 0;
  border-radius: 3px;
  background-color: #3b81f6;
  color: #fff;
}

.clear-form {
  width: 8rem;
  cursor: pointer;
  background-color: #6b7280;
  border-radius: 3px;
  border: 0;
  color: #fff;
}

.convert-output,
.convert-output-2 {
  display: flex;
  flex-direction: column;
}

.convert-output textarea,
.convert-output-2 textarea {
  width: 85%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.subject {
  display: flex;
  flex-direction: column;
}

.clip {
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
}

.clipboard,
.clipboard2 {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.clip span {
  padding: 0.2rem;
}
.convert-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.convert-button button,
.send-telegram button {
  cursor: pointer;
  padding: 0.7rem 1rem 0.7rem 1rem;
  background-color: #6b7280;
  border: 0;
  border-radius: 3px;
  color: #fff;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the loader is on top of other content */
}

/* Styling for the loader container */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-telegram {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-telegram button {
  cursor: pointer;
  padding: 0.7rem 1rem 0.7rem 1rem;
  background-color: #7e8ef1;
  border: 0;
  border-radius: 3px;
  color: #fff;
  margin: 2rem;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
.iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}

.create-assignment-form-handler #internalRemarks {
  min-height: 200px;
  width: 100%;
}

.create-assignment-form-handler .client-phone-handler {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.create-assignment-form-handler .client-phone-handler div {
  width: 50%;
}
.create-assignment-form-handler{
  margin-top: unset;
  align-items: self-start;
}
.create-assignment-form-handler form{
  padding-left: 40px;
  width: 100%;
  max-width: 1255px;
}
.submit-handler{
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 1rem;
}
.submit-handler button{
  cursor: pointer;
  background-color: #7e8ef1;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 8px 15px;
  font-size: 16px;
  min-width: 70px;
  min-height: 35px;
}

.submit-handler span{
  display: flex;
  align-items: center;
  gap: 7px;
}
.submit-handler #isTuitionCenter{
  width: unset;
}
